<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295606848490-iumq99a9b7sqksf00741vg2qcr1k7pf3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295606848490-iumq99a9b7sqksf00741vg2qcr1k7pf3</string>
	<key>API_KEY</key>
	<string>AIzaSyDdvXhKtLcbSJa0XRiGKD0_YUR8xKjeoUk</string>
	<key>GCM_SENDER_ID</key>
	<string>295606848490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.imagenesai1sql</string>
	<key>PROJECT_ID</key>
	<string>fir-web-auth-ec945</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-web-auth-ec945.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295606848490:ios:dd3db35c436eaa1e1dc093</string>
</dict>
</plist>